<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Seattle Blogs | a seattle.io project</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic,700,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bootstrap.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 description">
        <h1 id="logo">
          <span>Seattle Blogs</span>
        </h1>
        <p>A directory of blogs and other online publications covering the Seattle, WA area.</p>
        <div class="share">
          <h4>Tell people about it:</h4>
            <a class="icon-twitter" href="https://twitter.com/share?text=A directory of Seattle Blogs!&amp;url=http://blogs.seattle.io&amp;hashtags=seattle" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
              <span class="hidden">Twitter</span></a>
            <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://blogs.seattle.io" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
              <span class="hidden">Facebook</span></a>
            <a class="icon-google-plus" href="https://plus.google.com/share?url=http://blogs.seattle.io" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
              <span class="hidden">Google+</span></a>
        </div>
        <p><a href="https://docs.google.com/forms/d/1I39npo2ff0j2uwsvbpFaC-i7LB8gGf54yDDi6LsPVic/viewform" target="_blank">Submit new blogs.</a></p>
        <p><a href="https://app.flatsheet.io/api/v1/sheets/bbn6_tq9_qcqcfb6yi1w-g" target="_blank">The blogs list is available as JSON</a></p>
        <p>This project uses <a href="http://flatsheet.io" target="_blank">flatsheet.io</a>, a service/open-source project that provides an editor & API for curated datasets.</p>
        <p><b>Sources:</b> <a href="https://data.seattle.gov/Community/Seattle-Communities-Online-Inventory/5ytf-wban" target="_blank">Seattle Online Communities Inventory dataset on data.seattle.gov</a> and the internet.
        <p><a href="https://github.com/seattleio/seattle-blogs" target="_blank">Code on GitHub</a></p>
        <p>A <a href="http://seattle.io" target="_blank">seattle.io</a> project.</p>
      </div>
      <div class="col-sm-5 col-sm-offset-4">
        <div id="blogs">
          <h1>All the blogs:</h1>
        </div>
      </div>
    </div>
  </div>
</main>

<script id="blog-template" type="text/x-handlebars-template">
<% blogs.forEach(function(blog){ %>
  <div class="blog">
    <a href="<%= blog.url %>" target="_blank">
      <h3><%= blog.name %></h3>
      <p><%= blog.neighborhood %></p>
    </a>
  </div>
<% }); %>
</script>

<script src="bundle.js"></script>
</body>
</html>
