body {
  font-weight: 300;
  font-family: Roboto, 'Helvetica Nueue', Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 100;
}

.description {
  color: #999;
}

.share {
  margin: 20px 0px;
  padding-bottom: 5px;
}

.share h4 {
  margin-bottom: 8px;
}

.share a {
  background-color: #f2f2f1;
  margin: 0px 4px;
  padding: 5px 8px;
  border-radius: 2px;
}

.blog a {
  display: block;
  padding: 0px 15px 5px 15px;
  border: 1px solid #efefef;
  margin-bottom: 20px;
  text-decoration: none;
}

.blog a:hover,
.blog a:focus {
  background-color: #efefef;  
}

@media screen and (min-width: 768px){
  .description {
    position: fixed;
  }
}
